<div class="player-name"><span>Player 1</span>
  <div class="gradient-border"></div>
</div>
<div class="cards">
  <div *ngFor="let card of player.hand; let i = index" class="player-hand">
    <app-card [card]="card"
              (click)="putCard(card)"
              [showCardInfo]="!player.bot"
              [ngClass]="{
 'player-bot':player.bot,
 'player':!player.bot}"></app-card>
  </div>
</div>
<!--<div *ngIf="!player.bot"-->
<!--(click)="getCard()"-->
<!--class="get-card">Get one more card</div>-->
