\:host
  display: flex
//.get-card
//  margin-left: 20px
//  border: 5px solid white
//  border-radius: 5px
//  height: 40px
//  width: 180px
//  background: sandybrown
//  display: flex
//  justify-content: center
//  align-items: center
//  justify-self: end
.cards
  display: flex
.player-hand
  position: relative
  margin: 0 -45px -110px 0
.player-name
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 20px
  letter-spacing: 0.07em
  color: white
  border-bottom: 2px white solid
  padding-bottom: 3px
