.start-button
  display: inline-grid
  justify-items: center
  align-items: center
  width: 250px
  height: 70px
  background-color: lightgreen
  border: white 5px solid
  border-radius: 15px
  font-size: 36px
