\:host
  font-family: Amaranth
  font-style: normal
  font-weight: lighter
  color: white
.card
  width: 95px
  height: 145px
  border: 4px white solid
  border-radius: 17px
  background: url("~src/assets/images/card-romb.svg") no-repeat center black
  background-size: contain
  display: flex
  justify-content: center
  align-items: center
  position: relative
  box-shadow: -2px 1px 10px rgba(0, 0, 0, 0.96)
.RED
  background-color: #D6001A
.GREEN
  background-color: #00B712
.BLUE
  background-color: #00C5D1
.YELLOW
  background-color: #FF8A00
.uno-card
  width: 90px
  height: 90px
  display: flex
  align-items: center
  justify-content: center
  background: url("~src/assets/images/card-back-romb.svg") no-repeat center
  background-size: cover

.card-value
  font-size: 95px
  margin-bottom: 12px
.card-value-tl
  position: absolute
  top: 5px
  left: 5px
  font-size: 20px
.card-value-br
  position: absolute
  bottom: 5px
  right: 5px
  font-size: 20px
