\:host
  display: flex
  justify-content: center
  align-items: center
//.amount
//  margin-bottom: 25px
.top-card
  display: flex
  align-items: center
  justify-content: flex-start
  background: url("~src/assets/images/menu-img.png") no-repeat center
  background-size: 80%
  height: 354px
  width: 354px
.skip-turn
  height: 65px
  width: 90px
  font-family: "Alfa Slab One"
  text-transform: uppercase
  text-align: center
  font-style: normal
  font-weight: normal
  font-size: 24px
  color: #000000
  opacity: 0.75
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: white
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5)
  transform: rotate(-90deg)
  margin-left: 40px
